.social {
  display: flex;
  align-items: center;
  height: 33px;
}

.social-link {
  display: block;
  padding: 0 10px;
}

.account {
  margin: 4px 0;
  padding: 0 15px;
  border-right: solid 1px #797979;
  line-height: 25px;
}

.account-link {
  color: #d9d9d9;
  font-size: 12px;
}

.account-separator {
  margin: 0 10px;
  font-size: 10px;
}

.account {
  margin: 4px 0;
  padding: 0 15px;
  border-right: solid 1px #797979;
  line-height: 25px;
}

.account-link {
  color: #d9d9d9;
  font-size: 12px;
}

.account-separator {
  margin: 0 10px;
  font-size: 10px;
}

.product-actions {
  display: flex;
  margin-bottom: 30px;
  font-size: 12px;
}

.product-actions li {
  margin-right: 30px;
}

.product-actions-icon {
  margin-right: 10px;
}

.product-title {
  margin-bottom: 10px;
  font-size: 32px;
}

.product-price {
  margin-bottom: 38px;
  font-size: 24px;
  font-weight: 700;
}

.product-description {
  margin-bottom: 45px;
  line-height: 1.9;
}

.product-addtocart {
  display: block;
  position: relative;
  padding: 0 30px;
  width: 200px;
  height: 53px;
  background: #47bac1;
  color: #fff;
  line-height: 53px;
  text-transform: uppercase;
}

.product-addtocart-icon {
  position: absolute;
  right: 30px;
  height: 53px;
  font-size: 22px;
  line-height: 53px;
}

.cart {
  height: 35px;
  padding: 0 15px;
  background: #47bac1;
  color: #fff;
  line-height: 35px;
}

.cart-icon {
  margin-right: 5px;
  font-size: 16px;
}

.breadcrumbs {
  display: flex;
  line-height: 70px;
  text-transform: uppercase;
}

.breadcrumbs-link {
  color: #252525;
}

.gallery-main {
  margin-bottom: 15px;
}

.gallery-nav {
  display: flex;
  justify-content: space-between;
}

.gallery-nav-item {
  width: calc(100% / 4 - 15px);
}
