.product-addtocart {
  display: block;
  position: relative;
  padding: 0 30px;
  width: 200px;
  height: 53px;
  background: #47bac1;
  color: #fff;
  line-height: 53px;
  text-transform: uppercase;
}

.product-addtocart-icon {
  position: absolute;
  right: 30px;
  height: 53px;
  font-size: 22px;
  line-height: 53px;
}
